@page "/albums/{Id:int}"

@using RecordShopFrontend.Components.Items
@using RecordShopFrontend.Models

@rendermode InteractiveServer

<div class="container">
	@if (isLoading || _album is null)
	{
		<PageTitle>Loading...</PageTitle>
		<p>Loading...</p>
	}
	else
	{
		<PageTitle>@_album.Title - @_album.Artist</PageTitle>
		<div class="is-flex is-flex-direction-row is-justify-content-center">
			<div class="column">
				<AlbumSummary Album="_album" />
			</div>
			<div class="column" style="height: 50%">
				<div class="empty ">
					<p class="title mx-auto">
						Edit Album
					</p>
				</div>

				<div class="my-2">
					<NavLink href=@($"/albums/new")>
						<button class="button mt-5" @onclick="DeleteAlbum">Delete Album</button>
					</NavLink>
				</div>

				<EditForm class="form column"
					FormName="AlbumEditor"
					Model="_album"
					OnValidSubmit="ConfirmChanges">

					<p class="menu-label my-4">Edit Title</p>
					<InputText @bind-Value="_album.Title" style="width: 100%;"></InputText>

					<p class="menu-label my-4">Edit Artist</p>
					<InputText @bind-Value="_album.Artist" style="width: 100%;"></InputText>
					
					<p class="menu-label my-4">Edit Year</p>
					<InputNumber @bind-Value="_album.ReleaseYear" style="width: 100%;"></InputNumber>
					
					<p class="menu-label my-4">Edit Genre</p>
					<InputText @bind-Value="_album.Genre" style="width: 100%;"></InputText>
					
					<p class="menu-label my-4">Edit Cover</p>
					<InputText @bind-Value="_album.CoverUrl" style="width: 100%;"></InputText>

					<button type="submit" class="button mt-5">Confirm Changes</button>
				</EditForm>
			</div>
		</div>
	}
</div>

@code {
	[Parameter]
	public int Id { get; set; }

	private Album _album { get; set; } = new Album(0, "", "", 0, "", 0, "");
	private bool isLoading = true;
	private HttpClient client = new();

	public async Task ConfirmChanges()
	{
		Console.WriteLine("Running Confirm Changes Async");
		if (_album == null)
		{
			Console.WriteLine("Album is null");
			return;
		}

		try
		{
			Console.WriteLine(_album?.Title);
			Console.WriteLine(_album?.Artist);
			Console.WriteLine(_album?.ReleaseYear);
			Console.WriteLine(_album?.Genre);
			Console.WriteLine(_album?.Stock);

			var response = await client.PutAsJsonAsync<Album>($"https://hjnrlaswp6fivbbom5sejwj2440hrcdb.lambda-url.eu-west-2.on.aws/albums/", _album);
			Console.WriteLine(response.RequestMessage);
			Console.WriteLine(response.StatusCode);
		}
		catch (Exception e)
		{
			Console.WriteLine($"Exception: {e}");
		}
	}

	public async Task DeleteAlbum()
	{
		var response = await client.DeleteAsync($"https://hjnrlaswp6fivbbom5sejwj2440hrcdb.lambda-url.eu-west-2.on.aws/albums/{Id}");
		Console.WriteLine(response.RequestMessage);
		Console.WriteLine(response.StatusCode);

	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_album = await client.GetFromJsonAsync<Album>($"https://hjnrlaswp6fivbbom5sejwj2440hrcdb.lambda-url.eu-west-2.on.aws/albums/{Id}");
			isLoading = false;

			Console.WriteLine(_album?.Title);
			Console.WriteLine(_album?.Artist);
			Console.WriteLine(_album?.ReleaseYear);
			Console.WriteLine(_album?.Genre);
			Console.WriteLine(_album?.Stock);
		}
		catch (Exception e)
		{
			Console.WriteLine(e.Message);
		}

	}
}
