@page "/"
@using RecordShopFrontend.Components.Items

<PageTitle>Bristling Bangers</PageTitle>

<div class="container">
	<h1 class="is-size-1 is-centered">
		<span>Bristling</span> 
		<span class="" style="color: #ed1664">Bangers</span>
	</h1>
</div>

<div>
	<AlbumLoader/>
</div>
