@using RecordShopFrontend.Models

<div class="fixed-grid has-2-cols-mobile has-3-cols-tablet has-4-cols-desktop gap-3">
	<div class="grid">
		@foreach (var album in AlbumList)
		{
			<div class="cell pb-6">
				<AlbumBrief Album="album" />
			</div>
		}
	</div>
</div>

@code {
	[Parameter]
	public List<Album> AlbumList { get; set; } = new();
}
