
<div class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<NavLink class="navbar-item row" href="/">
			<img src="images/bb_logo.png" class="image is-32x32 col"/>
			<p class="col">Home</p>
		</NavLink>
	</div>
</div>

@code {

}
